---
import Dashboard from "@/layouts/dashboard.astro"

---


<Dashboard content={{ title: "Dashboard" }}>
    <div class="flex items-center justify-center min-h-screen">
        <div class="flex flex-col gap-4 max-w-md items-center justify-center min-h-screen">
            <div class="flex justify-center flex-col items-center gap-1.5">
                <h1 class="text-3xl tracking-tight items-center justify-center">
                    Dashboard
                </h1>
            </div>
            <p>Welcome to the dashboard!</p>
        </div>
    </div>
</Dashboard>