---
import '../../styles/global.css';
import DoubleAuthComponent from '@/components/auth/DoubleAuthComponent.vue';
import { ChevronLeft } from 'lucide-vue-next';
import { SunDim , Moon, Fingerprint } from 'lucide-vue-next';
import { Button } from '@/components/ui/button';
import Auth from '@/layouts/auth.astro';
---

<Auth content={{ title: 'Logon - 2FA' }}>
	<div class="flex items-center justify-center min-h-screen"> 
		<div class="flex flex-col gap-4 max-w-md items-center justify-center min-h-screen">
			<div class="flex justify-center flex-col items-center gap-1.5">
				<Fingerprint class="inline-block align-middle" />
				<h1 class="text-3xl tracking-tight items-center justify-center">
					Logon · 2FA	
				</h1>
			</div>
			<DoubleAuthComponent client:only="vue" />
		</div>
	</div>

</Auth>

<style>

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h1{
	font-family: 'Inter', sans-serif;
	font-weight: 600;
}

</style>
