---
import '../../styles/global.css';
import PassRecoverForm from '@/components/PassRecoverForm.vue';
import Auth from '@/layouts/auth.astro';

--- 

<Auth>
		<div class="grid place-items-center h-screen content-center">
			<PassRecoverForm client:only/>
		</div>
</Auth>	