---
import '../../styles/global.css';
import PassRecoverForm from '@/components/auth/PassRecoverForm.vue';
import Auth from '@/layouts/auth.astro';
---

<Auth content={{ title: 'Logon - Forgot Password' }}>
		<div class="grid place-items-center h-screen content-center">
			<PassRecoverForm client:only/>
		</div>
</Auth>	