---
import '../../styles/global.css';
import  Register  from '@/components';
import { ChevronLeft } from 'lucide-vue-next';
import { Button } from '@/components/ui/button';
import { Fingerprint } from 'lucide-vue-next';
--- 

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Logon - Login</title>
	</head>

	<body>
		<Button class="absolute top-4 left-4 z-50 text-center flex items-center justify-center">
			<a href="/" class="flex items-center gap-2">
				<ChevronLeft class="inline-block align-middle" />
				Menu
			</a>
		</Button>
		
		<div class="grid place-items-center h-screen content-center">
            <div class="flex justify-center">
                <h1 class="text-3xl tracking-tight items-center justify-center">
                    <Fingerprint class="inline-block align-middle" /> Logon
                </h1>
            </div>
			<Register client:only="vue" />
		</div>
	</body>
</html>

<style>

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h1{
	font-family: 'Inter', sans-serif;
	font-weight: 600;
}

</style>