---
import '../../styles/global.css';
import  Register  from '@/components/auth/RegisterForm.vue';
import { Fingerprint } from 'lucide-vue-next';


import Auth from '@/layouts/auth.astro';
--- 


<Auth content={{ title: 'Logon - Register' }}>		
		<div class="grid place-items-center h-screen content-center gap-4">
            <div class="flex justify-center flex-col items-center gap-1.5">
				<Fingerprint class="inline-block align-middle" />
                <h1 class="text-3xl tracking-tight items-center justify-center">
                     Logon · Register
                </h1>
            </div>
			<Register client:only="vue" />
		</div>
</Auth>

<style>

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h1{
	font-family: 'Inter', sans-serif;
	font-weight: 600;
}

</style>