---
import '../../styles/global.css';
import LoginForm from '@/components/auth/LoginForm.vue';
import { ChevronLeft } from 'lucide-vue-next';
import { Button } from '@/components/ui/button';
import Auth from 'src/layouts/auth.astro';
--- 
<Auth content={{ title: 'Logon - Login' }}>
		<div class="grid place-items-center h-screen content-center">
			<LoginForm client:only="vue" />
		</div>
</Auth>